ul {
  float: left;
  padding: 15px; 
  list-style-type: none;
  padding: 0;
}

li a {
  display: inline;
  display: block;
  padding: 16px;
  background-color: #dddddd;
}
H.Title {
  border: 10px solid red;
  border-radius: 10px;
  font-size: 42px;
}
