H.Title {
  border: 10px solid red;
  border-radius: 10px;
  font-size: 42px;


}
P.textbox {
  width: 230px;
  border: 1px solid green;
  padding: 20px;
  margin: 5px;
  background-color: #dddddd;


}

body {
  background-image: url('https://i.redd.it/wallpaper-material-3840x2160-part3-v0-qesr4vp5kby91.jpg?width=3840&format=pjpg&auto=webp&s=afb9e091a7f00b06937319e92479bf94f50e06b4');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
